.clock {
  width: 60%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}
.title {
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 0.5rem;
}
.time-stamps {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.time-stamps > * {
  border: 1px solid white;
  flex: 1;
  border-radius: 5px;
}
.time-stamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}
.time-stamp span h1 {
  font-size: 3rem;
}
.date {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  gap: 1rem;
}

@media (max-width: 460px) {
  .date {
    letter-spacing: 5px;
    gap: 0.5rem;
  }
}

@media (max-width: 360px) {
  .date {
    gap: 0.2rem;
    letter-spacing: 0;
  }
}
