.clock {
  width: 50%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}
.clock h2 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 15px;
  margin-right: 110px;
}
.clock-time {
  display: flex;
  gap: 1rem;
}
.clock-time > * {
  flex: 1;
  height: 200px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.clocky {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.title {
  text-align: center;
  background-color: rgba(8, 110, 130, 0.3);
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.am-pm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: none;
  padding: 0;
}
.am-pm h1 {
  background-color: rgba(8, 110, 130, 0.3);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  align-items: center;
}
